
.fondo_registro{
  background: #3450DE; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3450DE, #3486DE); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3450DE, #3486DE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  padding: 50px 0;
  width: 100%;
  height: 100rem;
  width: 100rem;
}